<%- include('./partials/head') %>
<div class="container" style="align-items: center;">
    <br>
    <br>
    <br>
    <h1><%= title %></h1> 
        <!-- <button class="button"> Ver Productos </button> -->
    
    <div class="contenedor">
        <h1><%= name %></h1>
        
      </div>
</div>

<style>
  
</style>
<%- include('./partials/footer') %>